@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-12 20:31:16
 * @version $Id$
 */
#ui-box {
 	height:110px ;
 	width:350px;
 	margin-top:30px;
 	border:1px solid gray;

}

/*first*/
#ui-box-item-1 {
	height:30px ;
 	width:70px;	
  	border right:1px solid black;
 	float: left;
}
#ui-box-item-2 {
	height:30px ;
 	width:70px;
 	float: left;
 	background: gray;
 	border bottom:1px solid black;
 	border right:1px solid black;
 	 
}
#ui-box-firstframe {
 	height:25px ;
 	width:300px;
 	margin-top: 40px;
 	margin-left: 20px;
 	border:1px solid gray;

}
#ui-box-secondframe {
 	height:25px ;
 	width:300px;
 	margin-top: 5px;
 	margin-left: 20px;
 	border:1px solid gray;

}

/*second*/
 #ui-box-sec {
 	height:150px ;
 	width:350px;	
 	border-left:1px solid gray;
 	border-right:1px solid gray;

}
 #ui-box-sec-redSquare {
 	height:70px ;
 	width:70px;
 	margin-top: 10px;
 	margin-left: 15px;
 	float: left;
  	border:1px solid red;
 	background: red;

}
 #ui-box-sec-firstframe {
 	height:20px ;
 	width:250px;
 	border:1px solid gray;
 	margin-top: 20px;
 	margin-left: 5px;
 	float: left;

}
 #ui-box-sec-secondframe {
 	height:20px ;
 	width:250px;
    border:1px solid gray;
 	margin-top: 8px;
 	margin-left: 5px;
 	float: left;

}
#ui-box-under {
	height:30px ;
 	width:350px;
    float:left;
}
#ui-box-sec-uderitem {
	height:28px ;
 	width:80px;
    border:1px solid red;
    float:left;
    margin-top: 20px;
 	margin-left: 23px;
 	background: red;
}


/*third*/
 #ui-box-third {
 	height:50px ;
 	width:350px;
 	border-top:1px solid gray;
 	border-left:1px solid gray;
 	border-right:1px solid gray;

}
#ui-box-third-frame{
	height:20px ;
 	width:300px;
 	margin: auto;
 	margin-top:15px;
 	border:1px solid gray;

}

/*forth*/
 #ui-box-forth {
 	height:200px ;
 	width:350px;
 	border:0px solid gray;

}
#ui-box-forth-onebox {
	height:200px ;
	width:138px;
	float: left;
	border: 1px solid gray;
}
#ui-box-forth-one {
	height:90px ;
	width:65px;
	margin-left: 30px;
	margin-top:45px;
	border: 1px solid red;
    background: red;
}
#item1 {
	margin-top:90px;
	margin-left:40px;
}
#ui-box-forth-otherbox-1{
	height:100px ;
 	width:69px;
 	float:left;
 	border-top:1px solid gray;
 	border-right:1px solid gray;
}
#ui-box-forth-otherbox-2{
	height:100px ;
 	width:69px;
 	float:left;
 	border-top:1px solid gray;
 	border-right:1px solid gray;
 	border-bottom:1px solid gray;
}
#ui-box-forth-other{
	height:50px ;
	width:40px;
	margin-left: 15px;
	margin-top:15px;
	border: 1px solid red;
	background: red;
}
#item2{
	margin-top:40px;
	margin-left:22px;
}
#item3{
	margin-top:40px;
	margin-left:15px;
}

#ui-box-last {
 	height:100px ;
 	width:350px;
 	float:left;
 	border-right:1px solid gray;
 	border-bottom:1px solid gray;
}
#ui-box-lastbox {
	height:100px ;
 	width:69px;
 	float:left;
 	border-left:1px solid gray;
 	border-bottom:1px solid gray;

}
#ui-box-lastbox-2 {
	height:100px ;
 	width:69px;
 	float:left;
 	border-left:1px solid gray;
 	border-bottom:1px solid gray;

}
#ui-box-lastitem {
	height:50px ;
	width:40px;
	margin-left: 15px;
	margin-top:15px;
	border: 1px solid red;
	background: red;
}


