@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-06 14:46:42
 * @version $Id$
 */
#big {
	width:1000px;
	height:800px;
    background: #228B22;
}
#box {
	width:800px;
	height:600px;
	border: 1px solid black;
	margin-top: 100px;
	margin-left: 100px;
	float:left;
    background: #B0C4DE;
}
.flex-container{
	width:760px;
	height:120px;
	border: 1px solid black;
    background: #228B22;
    margin-top: 20px;
	margin-left: 19px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.item1 {
	width:80px;
	height:80px;
	border: 1px solid black;
	background: #B0C4DE;
}
.item2 {
	width:80px;
	height:80px;
	border: 0px solid black;
	background: #228B22;
}

#inner {
	width:760px;
	height:420px;
	border: 1px solid black;
	margin-top:20px;
 	margin-left:20px;
    background: #228B22;
}

#end1 {
	width:216px;
	height:300px;
	border: 1px solid black;
	float: left;
	margin-top:20px;
 	margin-left:20px;
 	background: #B0C4DE;
}

#box3 {
	width:510px;
	height:410px;
	margin-left: 230px;
	margin-top: 5px;
	background: #228B22;
}
.box3-in{
	width:498px;
	height:393px;
	border: 0px solid black;
    background: #228B22;
    margin-top: 1px;
	margin-left: 1px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.item3 {
	width:480px;
	height:40px;
	border: 1px solid black;
	background: #B0C4DE;
}

.box4{
	width:760px;
	height:120px;
	border: 1px solid black;
    background: #228B22;
    margin-top: 20px;
	margin-left: 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.item1 {
	width:80px;
	height:80px;
	border: 1px solid black;
	background: #B0C4DE;
}